# Ignore __pycache__ directories
global-exclude __pycache__
__pycache__

# Ignore .ipnyb_checkpoints directories
.ipynb_checkpoints


# Ignore jupyter notebook
Example1-Copy1.ipynb

# Ignore build directory
build

# Ignore dist directory
dist

# Ignore poetry.lock file
poetry.lock