# Ignore __pycache__ directories
global-exclude __pycache__
__pycache__

# Ignore .ipnyb_checkpoints directories
.ipynb_checkpoints


# Ignore jupyter notebook
Example1-Copy1.ipynb
Examples/Example1-Copy2.ipynb
Examples/Untitled.ipynb
Examples/comparison metacells.ipynb
Examples/test.npy
atacnet/adaptative_graph_lasso.py

# Ignore build directory
build

# Ignore dist directory
dist

# Ignore poetry.lock file
poetry.lock

#Ignore egg-info directory
*.egg-info

# Ignore VSCode settings
*.code-workspace